
body {
	background: #B6DCFE;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
	
}

.day {
	text-align: center;
	margin-top: 300px;
}

@keyframes sun {
	0% {transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}

.sunMove {
	animation: sun 2s infinite;
}

.night {
	position: absolute;
	left: 90%;
	top: 10%;
}
