
body {
	background: #B6DCFE;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
}

.day {
	text-align: center;
	margin-top: 300px;
}

.night {
	position: absolute;
	left: 90%;
	top: 10%;
}

/*Sun animation*/

@keyframes sun {
	0% {transform: scale(0.9);}
	50%{transform: scale(1);}
	100%{transform: scale(0.9);}
}

.sunMove {
	animation: sun 2s infinite;
}

/*Today's reminder*/

.toDo{
	position: absolute;
	width: 270px;
	height: 270px;
	left: 1600px;
	top: 807px;
	background-color: #FFEBA5;
	border-radius: 43px;
}

h2 {
	position: absolute;
	width: 270px;
	height: 59px;
	left: 20px;
	top: 40px;
	font-size: 35px;
}

p {
	position: absolute;
	width: 270px;
	height: 42px;
	left: 20px;
	top: 105px;
	font-size: 18px;
}

.divider {
	position: absolute;
	width: 264px;
	top: 165px;
	border: 3px solid rgba(0, 0, 0, 0.15);
}

.box {
	position: absolute;
	width: 270px;
	height: 120px;
	top: 170px;
	background-color: #FFFFFF;
}

.circle {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 30px;
	top: 15px;
	border: 1px solid #000000;
	border-radius: 50%;
}

h4 {
	position: absolute;
	width: 170px;
	height: 28px;
	left: 80px;
	top: 1px;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.line {
	position: absolute;
	width: 270px;
	top: 60px;
	border: 0.5px solid #000000;
}


/*incoming Call*/

.incomingCall {
	position: absolute;
	text-align: center;
	animation: shake .2s ease-in-out.2s infinite alternate;
	left: 39%;
	top: 40%;
}

@keyframes shake {
	0%{transform: translate(1px, 1px)rotate(0deg);}
	10%{transform: translate(-1px, -2px)rotate(-1deg);}
	20%{transform: translate(-3px, 0px)rotate(1deg);}
	30%{transform: translate(3px, 2px)rotate(0deg);}
	50%{transform: translate(-1px, 2px)rotate(-1deg);}
	60%{transform: translate(-3px, 1px)rotate(0deg);}
	70%{transform: translate(3px, 1px)rotate(-1deg);}
}


/*Ship flying around the earth*/

 .earth{
 	position: absolute;
 	top: 250px;
 	left: 350px;
 	animation: spin 50s infinite;
 }

.ship {
	top: 235px;
	left: 285px;
	width: 12%;
	height:12%;
	position: absolute;
	animation: spin-anticlock 15s linear 0s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*pink planet*/
.pink {
	position: absolute;
	top: 940px;
	left: 460px;
	animation: spin-anticlock 50s infinite;
}

.ship2 {
	top: 925px;
	left:415px;
	width: 8%;
	height: 8%;
	position: absolute;
	animation: spin 15s linear 0s infinite;
}

@keyframes spin-anticlock {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}